@tailwind base;
@tailwind components;
@tailwind utilities;

/* hompage all css start */

h1{
  font-weight: 300;
}
.hero_section{
  background-image: url("../../public//images/hero.JPG");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 65vh;
}


.contact_us_bg{
  background-image: url("../../public//images/contact.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 65vh;
}

/* hompage all css start */