@tailwind base;
@tailwind components;
@tailwind utilities;

/* hompage all css start */
html {
  scroll-behavior: smooth;
}

h1 {
  font-weight: 300;
}

.hero_section {
  background-image: url("../../public//images/hero.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.hero_section_overlay {
  background: rgba(0, 0, 0, 0.75);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
}

.contact_us_bg {
  /* background-image: url("../../public//images/contact.svg"); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 65vh;
}

.show_subMenu_ul_wrapper {
  visibility: hidden;
  opacity: 0;
  top: 50px;
}
.show_subMenu_li:hover .show_subMenu_ul_wrapper {
  visibility: visible;
  opacity: 1;
  top: 35px;
}

.arrow_down_li {
  display: none;
}
.show_subMenu_li:hover .arrow_down_li {
  display: block;
}

.show_subMenu_li:hover .arrow_up_li {
  display: none;
}
/* hompage all css start */
